<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsd.dao.StudentMapper">
    <resultMap id="BaseResultMap" type="com.zsd.entity.Student">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <select id="getUserById" parameterType="int" resultMap="BaseResultMap">
        select *
        from student
        where id = #{id}
    </select>
</mapper>